
#wraper{
	
	
	width:1200px;
	margin:auto;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}





.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#con {
	color: #FFFFFF;
	margin-top: 10px;
	position: absolute;
	margin-left: 50px;
}

#header_top{
	
	width:1200px;
	height:40px;
	background-color:red;
	
}




#header-image{
	
	width:1200px;
	height:200px;
	background-color:green;
	
}

#header-image img{
	width:1200px;
	height:200px;
}

#menu{
	width:1200px;
	height:60px;
	background-color:pink;
	
	
}

#menu ul {
	
	list-style:none;
	margin:0px;
	float: left;
}

#menu ul li{
	
	float:left;
	margin-left:12px;
	margin-top:12px;
	font-size:20px;
}


#menu ul li a{text-decoration:none;}


#menu ul li :hover{background-color:red;
padding:27px;}

#saidbar{
	
	width:300px;
	height:700px;
    background-color:#FFFFFF;
    float:left;}
	
#saidbar ol{
	list-style:none;
}	

#saidbar ol li a{
	text-decoration:none;
}

#saidbar ol li{
	border-bottom:solid 1px;
	padding:9px;
	margin-left:-40px;
}
	
	
#container{
	
	width:900px;
	height:700px;
	background-color:#F1F3F4;
	float:left;
	
}	

#container-one{
	
	width:240px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
}

#container-one img{
	width: 280px;

}

#container-one h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}


#container-one p{
	text-align: center;
	background-color:#FFDEAD;
	
}
#container-two{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
}


#container-two img{
	width: 280px;
}


#container-two h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}


#container-two p{
	text-align: center;
	background-color:#FFDEAD;
}

#container-three{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
	
}

#container-three h1{

   font-size: 20px;
   text-align: center;
   background-color:lightblue;
}


#container-three p{
	text-align: center;
	background-color:#FFDEAD;
}


#container-three img{
	width: 280px;
}

#container-four{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
	
}


#container-four h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}


#container-four p{
	text-align: center;
	background-color:#FFDEAD;
}


#container-four img{
	width: 280px;
}
#container-five{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
	
}

#container-five img{
	width: 280px;
}

#container-five h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}


#container-five p{
	text-align: center;
	background-color:#FFDEAD;
}

#container-six{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
	
}

#container-six img{
	width: 280px;
}

#container-six h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}

#container-six p{
	text-align: center;
	background-color:#FFDEAD;
}

#container-seven{
	
	width:280px;
    height:200px;
	background-color:#F1F3F4;
	margin:10px;
	float:left;
	
}

#container-seven h1{
	font-size: 20px;
	text-align: center;
	background-color:lightblue;
}

#container-seven p{
	text-align: center;
	background-color:#FFDEAD;
}
#footer{
	
	width:1200px;
	height:40px;
	background-color:lightpink;
	clear:both;
	
}
	
#footer p{
	color: black;
	text-align: center;
	padding: -20px;
}